<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Show Studio</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
    </div>
    <h2><%= studio.name %></h2>
    <a class="buttons primary-button" href="/studios/<%= studio.id %>/edit">Edit</a>
    <%- include('../partials/delete', {url: `/studios/${studio.id}`}) %>
    <% if (animesByStudio.length > 0) { %>
        <h3><%= studio.name %> Anime</h3>
            <% animesByStudio.forEach(anime => { %>
            <a href="/animes/<%= anime.id %>">
                <img height="150" width="100" src="<%= anime.posterImagePath %>" >
            </a>
        <% }) %>
    <% } %>
    
</body>
</html>