<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
    </div>
    <h2><%= studio.name %></h2>
    <a class="buttons primary-button" href="/studios/<%= studio.id %>/edit">Edit</a>
    <%- include('../partials/delete', {url: `/studios/${studio.id}`}) %>
    <% if (animesByStudio.length > 0) { %>
        <h3><%= studio.name %> Anime</h3>
            <% animesByStudio.forEach(anime => { %>
            <a href="/animes/<%= anime.id %>">
                <img height="150" width="100" src="<%= anime.posterImagePath %>" >
            </a>
        <% }) %>
    <% } %>
    
</body>