<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <title>Document</title>
</head>
<body>
  <label>Title</label>
<input type="text" name="title" value="<%= anime.title %>">
<div>
    <label>Studio</label>
    <select name="studio">
    <% studios.forEach(studio => { %>
      <% if (studio.id === anime.studio) { %>
        <option selected label="<%= studio.name %>" value="<%= studio.id %>">
      <% } else { %>
        <option label="<%= studio.name %>" value="<%= studio.id %>">
      <% } %>
    <% }) %>
    </select>
</div>
<div>
  <label>Date Aired</label>
  <input type="date" name="dateAired"
        value="<%= anime.dateAired == null ? '' : anime.dateAired.toISOString().split('T')[0] %>">
</div>
<div>
  <label>Episode Count</label>
  <input type="number" name="episodeCount" min="1" value="<%= anime.episodeCount %>">
</div>
<div>
  <label>Poster</label>
  <input type="file" name="poster">
</div>
<div>
  <label>Description</label>
  <textarea name="description"><%= anime.description %></textarea>
</div>
  
</body>
</html>
