<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Animes</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
    </div>
    <h1 class="header">Search Animes</h1>
    <form action="/animes" method="GET">
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title%>">
        <button class="buttons primary-button" type="submit">Search</button>
    </form>
    <br>
        <label>Aired After</label>
        <input type="date" name="airedAfter" value="<%= searchOptions.airedAfter %>">
    <br>
        <label>Aired Before</label>
        <input type="date" name="airedBefore" value="<%= searchOptions.airedBefore %>">
      </div>
      <button class="buttons primary-button" type="submit">Search</button>
    </form>
    <br>
    <% animes.forEach(anime => { %>
        <h4><%= anime.title %></h4>
        <a href="/animes/<%= anime.id %>">
            <img height="150" width="100" src="<%= anime.posterImagePath %>" >
        </a>
    <% }) %>
</body>
</html>